/*Page component */
/*.page-enter-active,*/
/*.page-leave-active {*/
/*  transition: opacity 0.2s;*/
/*}*/
/*.page-enter,*/
/*.page-leave-to {*/
/*  opacity: 0;*/
/*}*/
.nuxt-link-active {
  @apply text-red-700 border-current ;
}
.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.widget{
  @apply transition duration-150 ease-in-out transform hover:-translate-y-1 hover:scale-110;
}
/**
Override QL style from Quill rich text editor
 */
.ql-align-right {
  @apply text-right;
}
.ql-align-center {
  @apply text-center;
}
.ql-align-left {
  @apply text-left;
}
